---
layout: archive
title: ""
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<h3 style="font-size: 0.9em; font-weight: 400 !important; margin-top: 0;">CURRENT TERM TEACHING</h3>

<div style="display: flex; gap: 1em; font-size: 0.85em;">
  <div style="flex-shrink: 0; width: 3.5em;">F2026</div>
  <div>Practical Data Science I (<a href="https://practicaldatascience.org/ids540_specific/class_schedule_540.html#">IDS541</a>)</div>
</div>
<div style="display: flex; gap: 1em; font-size: 0.85em;">
  <div style="flex-shrink: 0; width: 3.5em;">F2026</div>
  <div>Scope & Methods (<a href="https://polisci.duke.edu/courses/scope-and-methods-political-science-c-e">POLSCI731</a>)</div>
</div>

<div style="margin-top: 1.5em;"></div>

<h3 style="font-size: 0.9em; font-weight: 400 !important; margin-top: 0;">UPCOMING TEACHING</h3>

<div style="display: flex; gap: 1em; font-size: 0.85em;">
  <div style="flex-shrink: 0; width: 3.5em;">S2027</div>
  <div>Design Your Own Social & Behavioral Research</div>
</div>
<div style="display: flex; gap: 1em; font-size: 0.85em;">
  <div style="flex-shrink: 0; width: 3.5em;">S2027</div>
  <div>Police, Prisons and Politics (<a href="https://polisci.duke.edu/courses/police-prisons-and-politics">POLSCI109</a>)</div>
</div>
<div style="display: flex; gap: 1em; font-size: 0.85em;">
  <div style="flex-shrink: 0; width: 3.5em;">S2027</div>
  <div>Practical Data Science II (<a href="https://practicaldatascience.org/">IDS542</a>)</div>
</div>

<div style="height: 3.5em;"></div>

<h2 style="font-size: 0.9em; font-weight: 400; margin-top: 0; margin-bottom: 0.8em;">TEACHING INTERESTS</h2><hr />

<div style="font-size: 0.8em; max-width: 78%;">
I teach about political institutions, policing and incarceration, research design, causal inference, and practical approaches to doing data science.  I'm passionate about teaching students how to ask good questions, evaluate evidence, and build something of their own. This translates into my graduate mentoring as well.  I try to ask questions that cultivate independent judgment, offer candid criticism, and attend to the person behind the work.
</div>

<div style="font-size: 0.8em; max-width: 78%; margin-top: 0.5em;">
I also co-direct Duke's <a href="https://ssri.duke.edu/socsci-scholars-program/">Social Science Scholars Program</a> (SoSci Scholars), which supports undergraduate research across the social and behavioral disciplines.
</div>

<div style="height: 1.5em;"></div>

<div style="height: 1.5em;"></div>

<h2 style="font-size: 0.9em; font-weight: 400; margin-top: 0; margin-bottom: 0.8em;">COURSES TAUGHT</h2><hr />

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
