---
layout: archive
title: ""
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<h3 style="font-size: 1em; font-weight: 300 !important; margin-top: 0;">CURRENT TERM TEACHING</h3>

<div style="display: flex; gap: 1em; font-size: 0.85em;">
  <div style="flex-shrink: 0; width: 3.5em;">F2026</div>
  <div>Practical Data Science I (<a href="https://practicaldatascience.org/ids540_specific/class_schedule_540.html#">IDS541</a>)</div>
</div>
<div style="display: flex; gap: 1em; font-size: 0.85em;">
  <div style="flex-shrink: 0; width: 3.5em;">F2026</div>
  <div>Scope & Methods (<a href="https://polisci.duke.edu/courses/scope-and-methods-political-science-c-e">POLSCI731</a>)</div>
</div>

<div style="margin-top: 1.5em;"></div>

<h3 style="font-size: 1em; font-weight: 300 !important; margin-top: 0;">UPCOMING TEACHING</h3>

<div style="margin-top: 1.5em;"></div>

<div style="margin-top: 1.5em;"></div>

<div style="margin-top: 1.5em;"></div>

<h2>TEACHING INTERESTS</h2><hr />

<div style="font-size: 0.8em; max-width: 78%;">
I teach about political institutions, policing and incarceration, research design, causal inference, and practical approaches to doing data science.  I teach students how to ask good questions, evaluate evidence, and build something of their own. Across political science and data science, my teaching combines demanding intellectual work with deliberate opportunities for practice, feedback, and revision. My approach to mentoring is similar: ask questions that cultivate independent judgment, offer candid criticism, and attend to the person behind the work.

I also co-direct Duke's <a href="https://ssri.duke.edu/socsci-scholars-program/">Social Science Scholars Program</a> (SoSci Scholars), which supports undergraduate research across the social and behavioral disciplines.
</div>

<div style="margin-top: 1.5em;"></div>

<div style="margin-top: 1.5em;"></div>

<div style="margin-top: 1.5em;"></div>

<h2>COURSES TAUGHT</h2><hr />

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
