{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    <h2 class="archive__item-title" itemprop="headline" style="font-weight: bold;">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% elsif post.url %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
      {% else %}
        {{ title }}
      {% endif %}
    </h2>
    
    {% if post.formertitle %}
      <p style="margin-top: 0.35em; margin-bottom: 0.2em; font-size: 0.65em;"><em style="font-weight: normal; font-style: italic;">{{ post.formertitle }}</em></p>
    {% endif %}
    
    {% if post.status %}
      <p style="margin-top: 0.1em;"><em style="font-weight: bold; font-style: italic;">{{ post.status }}</em></p>
    {% endif %}
    
    {% if post.citation %}
      <p style="margin-top: 0.3em;">{{ post.citation }}
      {% if post.publishedarticleurl or post.paperurl or post.slidesurl or post.appendixurl or post.replicationurl or post.bibtexurl or post.drafturl %}
        <br />
        {% if post.publishedarticleurl %}<a href="{{ post.publishedarticleurl }}">Published Article</a>{% endif %}
        {% if post.paperurl %}{% if post.publishedarticleurl %} | {% endif %}<a href="{{ post.paperurl }}">{% if post.title contains "Section 5" %}Accepted Version{% else %}Download Paper{% endif %}</a>{% endif %}
        {% if post.drafturl %}{% if post.publishedarticleurl or post.paperurl %} | {% endif %}<a href="{{ post.drafturl }}">Current Draft</a>{% endif %}
        {% if post.appendixurl %}{% if post.publishedarticleurl or post.paperurl or post.drafturl %} | {% endif %}<a href="{{ post.appendixurl }}">{% if post.title contains "Section 5" %}Appendix{% else %}Download Appendix{% endif %}</a>{% endif %}
        {% if post.slidesurl %}{% if post.publishedarticleurl or post.paperurl or post.appendixurl or post.drafturl %} | {% endif %}<a href="{{ post.slidesurl }}">Download Slides</a>{% endif %}
        {% if post.replicationurl %}{% if post.publishedarticleurl or post.paperurl or post.appendixurl or post.slidesurl or post.drafturl %} | {% endif %}<a href="{{ post.replicationurl }}">{% if post.title contains "Section 5" %}Replication Materials{% else %}Replication Materials{% endif %}</a>{% endif %}
        {% if post.bibtexurl %}{% if post.publishedarticleurl or post.paperurl or post.appendixurl or post.slidesurl or post.replicationurl or post.drafturl %} | {% endif %}<a href="{{ post.bibtexurl }}">Download Bibtex</a>{% endif %}
      {% endif %}
      </p>
    {% elsif post.publishedarticleurl or post.paperurl or post.slidesurl or post.appendixurl or post.replicationurl or post.bibtexurl or post.drafturl %}
      <p style="margin-top: 0.3em;">
        {% if post.publishedarticleurl %}<a href="{{ post.publishedarticleurl }}">Published Article</a>{% endif %}
        {% if post.paperurl %}{% if post.publishedarticleurl %} | {% endif %}<a href="{{ post.paperurl }}">Download Paper</a>{% endif %}
        {% if post.drafturl %}{% if post.publishedarticleurl or post.paperurl %} | {% endif %}<a href="{{ post.drafturl }}">Current Draft</a>{% endif %}
        {% if post.appendixurl %}{% if post.publishedarticleurl or post.paperurl or post.drafturl %} | {% endif %}<a href="{{ post.appendixurl }}">Download Appendix</a>{% endif %}
        {% if post.slidesurl %}{% if post.publishedarticleurl or post.paperurl or post.appendixurl or post.drafturl %} | {% endif %}<a href="{{ post.slidesurl }}">Download Slides</a>{% endif %}
        {% if post.replicationurl %}{% if post.publishedarticleurl or post.paperurl or post.appendixurl or post.slidesurl or post.drafturl %} | {% endif %}<a href="{{ post.replicationurl }}">Replication Materials</a>{% endif %}
        {% if post.bibtexurl %}{% if post.publishedarticleurl or post.paperurl or post.appendixurl or post.slidesurl or post.replicationurl or post.drafturl %} | {% endif %}<a href="{{ post.bibtexurl }}">Download Bibtex</a>{% endif %}
        {% if post.slidesurl %}{% if post.paperurl or post.appendixurl or post.drafturl %} | {% endif %}<a href="{{ post.slidesurl }}">Download Slides</a>{% endif %}
        {% if post.replicationurl %}{% if post.paperurl or post.appendixurl or post.slidesurl or post.drafturl %} | {% endif %}<a href="{{ post.replicationurl }}">Replication Materials</a>{% endif %}
        {% if post.bibtexurl %}{% if post.paperurl or post.appendixurl or post.slidesurl or post.replicationurl or post.drafturl %} | {% endif %}<a href="{{ post.bibtexurl }}">Download Bibtex</a>{% endif %}
      </p>
    {% endif %}
    
    {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}

        {% if post.collection == 'teaching' %}
          <p style="margin-top: 0.2em;"> {{ post.type }}, <i>{{ post.venue }}</i> </p>
          {% if post.term %}
            <p style="margin-top: -0.5em; margin-bottom: 0;">{{ post.term }}</p>
          {% endif %}
        {% endif %}
        {% endif %}

    {% if post.excerpt %}
      {% if post.collection == 'teaching' %}
        <p class="archive__item-excerpt" itemprop="description" style="margin-top: 0.5em; font-size: 0.95em; line-height: 1.6;">{{ post.excerpt | markdownify }}</p>
      {% elsif site.read_more != 'enabled' %}
        <details style="margin-top: 1em;">
          <summary style="cursor: pointer; font-size: 0.75em; line-height: 1.6; display: list-item;">Abstract</summary>
          <p class="archive__item-excerpt" itemprop="description" style="font-size: 0.5em; line-height: 1.6;">{{ post.excerpt | markdownify }}</p>
        </details>
      {% elsif site.read_more == 'enabled' %}
        <details style="margin-top: 1em;">
          <summary style="cursor: pointer; font-size: 0.75em; line-height: 1.6; display: list-item;">Abstract</summary>
          <p class="archive__item-excerpt" itemprop="description" style="font-size: 0.5em; line-height: 1.6;"><p>{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}<strong><a href="{{ base_path }}{{ post.url }}" rel="permalink"> Read more</a></strong></p></p>
        </details>
      {% endif %}
    {% endif %}

  </article>
</div>
