html body,
html body h1,
html body h2,
html body h3,
html body h4,
html body h5,
html body h6,
html body p,
html body li,
html body a {
  font-family: "Fira Sans", sans-serif !important;
}

/* Reduce text size on publications page */
.list__item .archive__item-title {
  font-size: 0.95em;
}

.list__item .archive__item-excerpt,
.list__item article.archive__item > p {
  font-size: 0.85em;
}

.archive__item p {
  font-size: 0.85em;
}

.archive h2 {
  font-size: 1.3em;
}

/* Reduce page title and category heading sizes */
.page__title {
  font-size: 1.5em;
}

.archive h2 {
  font-size: 1.1em;
}

/* Prevent wrapping on employer link */
.author__urls li a {
  display: inline;
  white-space: nowrap;
}

/* Reduce excerpt width by 15% */
@media (min-width: 1280px) {
  .archive {
    max-width: 1088px;
  }
}
