html body,
html body h1,
html body h2,
html body h3,
html body h4,
html body h5,
html body h6,
html body p,
html body li,
html body a {
  font-family: "Fira Sans", sans-serif !important;
}

/* Reduce text size on publications page */
.list__item .archive__item-title {
  font-size: 0.85em;
}

.list__item .archive__item-excerpt,
.list__item article.archive__item > p {
  font-size: 0.75em;
}

.archive__item p {
  font-size: 0.75em;
}

.archive h2 {
  font-size: 1.2em;
}

/* Reduce page title and category heading sizes */
.page__title {
  font-size: 1.35em;
}

.archive h2 {
  font-size: 1em;
}

/* Prevent wrapping on employer link */
.author__urls li a {
  display: inline;
  white-space: nowrap;
}

/* Make publication titles bold */
.archive__item-title a {
  font-weight: bold !important;
}

/* Darken border color by 15% for light theme */
:root {
  --global-border-color: #d4d5d6 !important;
}

/* Reduce page text width by 20% from the right */
.page {
  max-width: 1024px;
}
